@font-face
{
    font-family: PBold;
    src: url('./Proxima Nova Alt Bold.otf');
}
@font-face
{
    font-family: PThin;
    src: url('./Proxima Nova Thin.otf');
}
@font-face
{
    font-family: MExtraBold;
    src: url('./Montserrat-ExtraBold.ttf');
}
body {
    margin: 0;
    padding: 0;
    background-color: #F2F2F3;
}
span {
  margin: 0;
  padding: 0;
}
#first_block
{
    height:100vh;
    max-height: 800px;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    background-image: url('./websitedesignkolkata.png');
    background-size: cover;
}
.end-left {
  margin-left: -13.12rem;
}

.end-right {
  left: 60%;
}

.outline {
  position: absolute;
  top: 1.25rem;
}

.outline {
  color: black;
  -webkit-text-fill-color: transparent;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: orange;
  font-size: 4rem;
  font-family: 'Arvo', serif;
}

.orbs {
  font-family: PBold;
  font-weight: 50;
  display: block;
  font-size: 12rem;
  letter-spacing: -0.8rem;
}
.orbs span {
  color: white;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  /*text-shadow: 0 0 20px orange, 1px 1px 20px orange, 2px 2px 20px orange, -1px -1px 20px orange, -2px -2px 20px orange;*/
  position: absolute;
  left: 50%;
}
.orbs span:first-child {
  margin-left: -25.12rem;
}
.orbs span:not(:first-child) {
  margin-left: -2.2rem;
}
.glow {
  opacity: 0;
  font-family: MExtraBold;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.99);
  font-size: 1.8rem;
  position: absolute;
  top: 25rem;
  width: 100%;
  text-align: center;
}
navbar ul
{
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    right: 2rem;
    top: 2rem;
}
navbar ul li
{
    display: inline-block;
    font-family: MExtraBold;
    letter-spacing: 1px;
    text-shadow: 0px 2px 2px rgba(0, 2, 1, 0.17);
}
navbar ul li a
{
    font-size: 1.2rem;
    margin-right: 1rem;
    color:rgba(255, 255, 255, 0.87);
    padding: 1rem;
    border-radius: 20px;
    
}
navbar ul li a:hover
{
    cursor: pointer;
    background:rgba(255, 255, 255, 0.99);
    color:rgba(10, 3, 60, 0.87);
}
#navbar_btn
{
    float: right;
    margin-top: 2rem;
    display: none;
}
.bar {
  background-color: white;
  width: 3rem;
  height: .4rem;
  border-radius: 2rem;
  margin: 6px 0;
}
#second_block
{
    position: relative;
    height: 100vh;
    max-height: 800px;
    text-align: center;
}
#as_heading
{
    font-family: MExtraBold;
    font-size: 5rem;
    margin: 0;
    color:rgba(10, 3, 60, 0.87);
    z-index: 10;
    transform: translateY(10%);
    text-shadow: -2px 3px 2px rgba(0, 189, 188, 0.36);
}
#card
{
    height: 75%;
    width: 60%;
    margin: auto;
    background: white;
    border-radius: 20px;
    margin-top: -4rem;
    padding: 0 2rem;
    box-shadow: 0px 10px 30px rgba(2,193,194,0.36);
}
#card p
{
    padding-top: 5rem;
    font-family: PThin;
    font-size: 1.3rem;
}
#third_block
{
    height: 100vh;
    position: relative;
    max-height: 800px;
}
#third_block h1, #fourth_block h1, #fifth_block h1
{
    font-family: MExtraBold;
    margin: 0 0 0 2rem !important;
    padding-top: 2rem;
    color:rgba(2, 189, 188, 0.67);
}
.carousel {
	height: 100% !important;
	perspective: 800px;
    display: inline-block;
    position: absolute;
}

.carousel .carousel-item {
	cursor: grab;
	width: 30rem !important;
    height: 30rem !important;
    background: black;
    border-radius: 50%;
    text-align: center;
    margin-top: -5rem !important;
}
.carousel .carousel-item h3
{
    margin-top: 2rem !important;
}
.carousel .carousel-item:active {
	cursor: grabbing;
}

.carousel .carousel-item h3 {
    font-family: MExtraBold;
    color:rgba(10, 3, 60, 0.87);
	font-size: 2rem;
	margin: 0;
	padding: 1rem 1rem;
    padding-top: 2rem;
	text-align: center;
}
.carousel .carousel-item p
{
    font-family: PThin;
    color: rgba(10, 3, 60, 0.99);
    margin: 2rem 5rem 0;
}
#third_block ul
{
    margin: 0;
    display: inline-block;
    position: absolute;
    top: 40%;
    left: 5%;
}
#third_block ul li
{
    margin-bottom: 3rem;
    font-size: 1rem;
    font-family: PBold;
    color: #0a033c;
}
#third_block ul li:hover
{
    cursor: pointer;
}
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 2.5rem;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 3rem;
  color: black;
  display: block;
  transition: 0.3s;
   font-family: PBold;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
#fourth_block
{
    max-height: 1000px;
    position: relative;
}
#fourth_block ul
{
    list-style: none;
    width: 100%;
    margin: 1rem auto 2rem;
    text-align: center;
}
#pc1, #pc2, #pc3
{
    display: -webkit-inline-box;
    text-align: center;
    height: 40rem;
    width: 25rem;
    margin: 2rem 1rem 0;
    border-radius: 20px;
    box-shadow: 0px 10px 30px rgba(2,193,194,0.36);
    transition: height .5s ease-out;
}
#fourth_block ul li h3
{
    font-family: MExtraBold;
    color:rgba(2, 189, 188, 0.87);
    display: inline-block;
    white-space: initial;
    margin: 1rem 0 0;
    font-size: 2rem;
}
.pc
{
    display: inline-block;  
}
.pc h5
{
    font-family: MExtraBold;
    font-size: 4rem;
    color: rgba(2, 189, 188, 0.87);
    margin-top: 0;
}
.pc h6
{
    font-family: PThin;
    font-size: 1.5rem;
    color:rgba(2, 189, 188, 0.87);
    margin-bottom: 0;
}
.pc
{
    height: 80%;
}
.pc ul
{
    height: 80% !important;
    margin: 1.5rem 0 0 0 !important;
    font-size: 1.6rem;
    font-family: PThin;
    text-align: left !important;
}
#fifth_block
{
    height: 115vh;
    min-height: 650px;
}
form
{
    width: 70%;
    margin: 2rem auto 0;
    text-align: center;
}
form label
{
    float: left;
    font-size: 1.4rem;
    margin: 2rem auto 0;
}
form input, #service
{
    float: left;
    width: 90%;
    padding: 5px;  
    height: 3rem;
    padding: 0;
    border: none;
    box-shadow: 0px 10px 30px rgba(2,193,194,0.4);
}
#details
{
    box-shadow: 0px 10px 30px rgba(2,193,194,0.4);
    border:none;
    height: 10rem;
    padding: 0;
    margin: 0 auto;
}
#service option
{
    padding: 0;
    font-family: PThin;
}
.form_block
{
    display: inline-block;
    width: 40%;
    margin: 0 auto;
    text-align: center;
}
#submitbtn
{
    width: 10rem;
    margin-top: 1rem;
    height: 3rem;
    border-radius: 30px;
    border:none;
    outline: none;
    background-color: #02bdbc;
    font-family: PBold;
    font-size: 1.5rem;
    color: white;
}
footer
{
    height: 45vh;
    background: #02bdbc;
    text-align: center;
    font-family: PThin;
    margin-top: 5rem;
}
.footer_div
{
    height: 100%;
}
.footer_div ul 
{
    list-style: none;
    margin: 0;
    margin-top :2rem;
}
.footer_div ul li
{
    display: inline-block;
    margin: 0 1rem;
    opacity: .5;
}
.footer_div ul li:hover
{
    cursor: pointer;
    opacity: 1; 
}
@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
@media screen and (min-width: 1500px)
{
    html
    {
        font-size: 125% !important;
    }
}
@media screen and (max-width: 800px)
{
    html
    {
        font-size: 75% !important;
    }
    navbar ul
    {
        display: none;
    }
    #navbar_btn
    {
        display: inline-block;
    }
    .orbs span
    {
        font-size: 5rem;
        left: 57%;
        letter-spacing: -5px;
    }
    .orbs span:first-child
    {
        margin-left: -13.12rem;
    }
    #as_heading
    {
        font-size: 2.5rem;
    }
    #card
    {
        width: 80%;
        height: 90%;
        margin-top: -1.5rem;
        border-radius: 8px;
    }
    #card p
    {
        padding: .5rem;
        padding-top: 2rem;
        margin: 0;
    }
    #third_block
    {
        text-align: center;
        height: 70vh;
    }
    #third_block ul
    {
        display: none;
    }
    .carousel
    {
        margin-top: 2rem;
        width: 100% !important; 
        height: 80% !important;
        overflow-x: scroll;
    }
    .carousel .carousel-item
    {
        width:20rem !important;
        height: 20rem !important;
    }
    #third_block h1
    {
        margin-left: 0;
    }
    .carousel .carousel-item p
    {
        margin: 0;
    }
    #pc1, #pc2, #pc3
    {
        height: 8rem;
        box-shadow: 0px 15px 20px rgba(2,193,194,0.4);
    }
    .pc
    {   
        visibility: hidden;
    }
    #fifth_block
    {
        height: 120vh;
    }
    form
    {
        width: 100%;
    }
    .form_block
    {
        width: 80%;
    }
}
