    {% load static %}
    <!DOCTYPE html>
    <html lang="en" >
    <head>
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-K1TR5GES4S"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-K1TR5GES4S');
        </script> -->

        <title>WebLynks - Affordable Website Developer In Kolkata</title>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="We offer best Website Design and Development Services at affordable prices. We build professional and personal websites for business and individuals">
        <meta name="keywords" content="weblynks, website design, website development, kolkata, logo design, affordable, web solution, low price, low cost">
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

        <!-- <link rel="stylesheet" href="{% static 'style.css' %}"> -->
        <link rel="shortcut icon" type="image/ico" href="../static/favicon.ico" /> 

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <style>
            @media only screen and (max-width: 400px) {
                img{
                    height: 18rem !important;
                    width: 19rem !important;
                }
                h1{
                    font-size: 20px;
                }
            }

            img{
                height: 40rem;
                width: 45rem;
            }
        
        </style>
    </head>
    <body style="background-color: white; height: 100vh; width: 100vw;" class="container">
    <!-- partial:index.partial.html -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
        <!--<div id = "first_block">
            <navbar>
                <span class="outline end-right">
                <img src = "{% static 'bestwebsitekolkatalogo.png' %}" style = "height: 5rem; width: auto; display: block;" alt="the best responsive website design develop logo design kolkata">
            </span>
                <ul>
                    <li>
                        <a onclick = "scrolldown('second_block')">ABOUT US</a>
                    </li>
                    <li>
                        <a onclick = "scrolldown('third_block')">SERVICES</a>
                    </li>
                    <li>
                        <a onclick = "scrolldown('fourth_block')">PRICING</a>
                    </li>
                    <li>
                        <a onclick = "scrolldown('fifth_block')">CONTACT US</a>
                    </li>
                </ul>
                <div id="myNav" class="overlay">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <div class="overlay-content">
                    <a onclick = "scrolldown('second_block')">About Us</a>
                    <a onclick = "scrolldown('third_block')">Services</a>
                    <a onclick = "scrolldown('fourth_block')">Pricing</a>
                    <a onclick = "scrolldown('fifth_block')">Contact Us</a>
                </div>
                </div>
                <span id = "navbar_btn" style = "margin-right: 2rem;" onclick="openNav()">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </span>
            </navbar>
        <div id = "logo_animation" >
            <span class="orbs">
            <span>W</span>
            <span>e</span>
            <span>b</span>
            <span>L</span>
            <span>y</span>
            <span>n</span>
            <span>k</span>
            <span>s</span>
            </span>

            <span class="glow">
            In Budget In Time
            </span>
            
            <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
            <script src='https://cdnjs.cloudflare.com/ajax/libs/velocity/0.11.9/jquery.velocity.min.js'>
            </script><script  src="{% static 'script.js' %}"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        </div>-->
        
        <!-- </div>
        <div id = "second_block">
            <p id = "as_heading" >WHO ARE WE</p>
            <div id = "card">
                <p style = "font-size: 1.5rem;">
                WebLynks is a service based company that provides IT services to business of all kinds. Hailing from Kolkata, we specialize in website developement among other services which include Graphic Design and Branding Solutions.
                Affordability and customer satisfaction sits at the top of our priority list which is why you will never feel the need to look elsewhere for getting your work done. Our developers are very well versed with all the modern technologies and hold the ability of delivering your product within a few days without compromising on quality. We understand the fact that we live in a world where building an online presence has become an utmost priority for organizations and for some it might be burn a hole in their pocket while trying to make the necessary changes which is why our services begin from as low as Rs 1999.
                </p>
            </div>
        </div>
        <div id = "third_block">
            <h1>SERVICES</h1>
            <ul>
                <li id = "service3" onclick = "changecarousel(3)">WEB SOLUTIONS</li>
                <li id = "service1" onclick = "changecarousel(1)">WEB HOSTING</li>
                <li id = "service2" onclick = "changecarousel(2)">LOGO DESIGN</li>
            </ul>
            <div class="carousel">
            {% for service in all_services %}
        <div style = "background-image: linear-gradient(180deg, {{service.background_color1}} 0%,{{service.background_color2}} 100%)" class="carousel-item">
            <div>
            <h3>
                {{service.name}}
            </h3>
                <p>
                    {{service.description}}  
                </p>
            </div>
            </div>
            {% endfor %}
        </div>
        </div>
        <div id = "fourth_block">
            <h1>PRICING</h1>
            <ul>
                <li id = "pc1" onclick = "expandp('1')">
                    <h3>STARTER BUNDLE</h3>
                    <div class = "pc">
                        <h6> STARTING FROM </h6>
                        <h5>₹ 2999</h5>
                        <ul>
                            <li><span>&#10003;</span> One Page Static Website</li>
                            <li><span>&#10003;</span> One Year Free Web Hosting</li>
                            <li><span>&#10003;</span> Personalised Text Based Logo</li>
                            <li><span>&#10003;</span> Domain and Business Email Setup</li>
                            <li><span>&#10003;</span> Responsive Design</li>
                            <li><span>&#10003;</span> SEO Optimization</li>
                            <li><span>&#10003;</span> Website Content</li>
                            <br>
                            <li>*Domain Charges Are Not Included</li>
                            <li>*Yearly Maintaince Cost - 749 + <br> Domain Charges</li>
                        </ul>
                    </div>
                </li>
                <li id = "pc2" onclick = "expandp('2')">
                    <h3>STANDARD BUNDLE</h3>
                    <div class = "pc">
                        <h6> STARTING FROM </h6>
                        <h5>₹ 5999</h5>
                        <ul>
                            <li><span>&#10003;</span> One to Four Page Dynamic Website</li>
                            <li><span>&#10003;</span> One Year Free Web Hosting</li>
                            <li><span>&#10003;</span> Personalised Text Based Logo</li>
                            <li><span>&#10003;</span> Personalised Business Card</li>
                            <li><span>&#10003;</span> Domain and Business Email Setup</li>
                            <li><span>&#10003;</span> Responsive Design</li>
                            <li><span>&#10003;</span> SEO Optimization</li>
                            <li><span>&#10003;</span> Website Content</li>
                            <br>
                            <li>*Domain Charges Are Not Included</li>
                            <li>*Yearly Maintaince Cost - 1349 + <br> Domain Charges</li>
                        </ul>
                    </div>
                </li>
                <li id = "pc3" onclick = "expandp('3')">
                    <h3>CUSTOM BUNDLE</h3>
                    <div class = "pc">
                        <h6> STARTING FROM </h6>
                        <h5>₹ 7999</h5>
                        <ul>
                            <li><span>&#10003;</span> One to Ten Page Dynamic Website <br> with Custom Features <br> (Payment Gateway, Engagement <br> Reports, Blog, Newsletter)</li>
                            <li><span>&#10003;</span> One Year Free Web Hosting</li>
                            <li><span>&#10003;</span> Personalised Icon Based Logo</li>
                            <li><span>&#10003;</span> Personalised Business Card</li>
                            <li><span>&#10003;</span> Domain and Business Email Setup</li>
                            <li><span>&#10003;</span> Responsive Design</li>
                            <li><span>&#10003;</span> SEO Optimization</li>
                            <li><span>&#10003;</span> Website Content</li>
                            <li><span>&#10003;</span> 3 X Website Ad Poster</li>
                            <br>
                            <li>*Domain Charges Are Not Included</li>
                        </ul>
                    </div>
                </li>    
            </ul>
        </div>
        <div id = "fifth_block">
            <h1>CONTACT US</h1>
            <form action = "javascript:void(0)" onSubmit = "fsubmit()">
                <div class = "form_block">
                    <label class = "browser-default" for = "fname">Name</label><br>
                    <input class = "browser-default" type = "text" id = "fname" name = "fname"><br><br>
                    <label class = "browser-default" for = "email">Email</label><br>
                    <input class = "browser-default" id = "email" type = "text" name = "email">
                </div>
                <div class = "form_block">
                <label class = "browser-default" for = "number">Number</label><br>
                <input class = "browser-default" id = "number" type = "text" name = "number"><br><br>
                <label  class = "browser-default" for = "service">Service</label><br>
                <select class = "browser-default" style = "display: block;" id = "service" name = "service">
                    <option class = "browser-default" value = "web_solutions">Web Solutions</option>
                    <option class = "browser-default" value = "web_hosting">Web Hosting</option>
                    <option class = "browser-default" value = "logo_design">Logo Design</option>
                </select>
                </div>
                <div style = "width: 80%;" class = "form_block">
                    <label style = "float:left;" class = "browser-default" for = "details">Explain Your Project</label>
                    <textarea style = "width: 95%;float: left;" class = "browser-default" type = "textarea" id = "details" name = details></textarea>
                </div>
                <br>
                <button type = "submit" id = "submitbtn">SUBMIT</button>
                <p id = "response" style = "opacity: 0; height: 1rem;">wepihg</p>
            </form> 
        </div>
        <footer>
            <div class = "footer_div">
                <h3 style = "font-size: 4rem;padding-top: 1rem;margin: 0;">Hire Us</h3>
                <h1 style = "font-size: 1.8rem;margin:0;">
                    We're currently taking on new projects. Would you like to discuss yours ?
                    <br><br>+91 8017586761<br>contactus@weblynks.in
                </h1>
                <ul>
                    <li>
                        <a>
                            <img src = "{% static 'facebook.png' %}" alt="the best responsive website design develop logo design kolkata">
                        </a>
                    </li>
                    <li>
                        <a href = "https://www.instagram.com/weblynks/">
                            <img src = "{% static 'instagram.png' %}" alt="the best responsive website design develop logo design kolkata">
                        </a>
                    </li>
                    <li style = "transform: translateY(-2px);">
                        <a href = "https://www.linkedin.com/company/69613973">
                            <img src = "{% static 'linkedin.png' %}" alt="the best responsive website design develop logo design kolkata">
                        </a>
                    </li>
                </ul>
            </div>
        </footer>-->
        <center>
            <img class="logo" src = "{% static 'bestwebsitekolkatalogo.png' %}" style="padding: 5rem 0 0 0;" >
            <h1 style="color: rgba(0,0,0.87); padding: 0rem 0 0 0; text-align: center; font-weight: bolder;" >Website Under Construction</h1>
        </center>

       
    </body>
    </html>
